@import "./src/assets/styles/variables.scss";
@import "./src/assets/styles/mixins.scss";

.default {
    @include flex(row, center, center);
    @include text($primaryFontFamily, 16px, 500, 18px);
    padding: 16px;
    color: #000;
    outline: none;
    width: 100%;
    border: 2px solid #000;
    background: 0 0;
    &:active{
        background-color: black;
        color: $bgColor;
    }
}

.active{
    border: 1px solid #000;
    background-color: black;
    color: $bgColor;
}

.disabled{
    border: 1px solid #4E4E4E;
    background: 0 0;
    color: #4E4E4E;
}
