@import './src/assets/styles/variables';
@import './src/assets/styles/mixins';

.container {
  box-sizing: border-box;
  width: 380px;
  height: 100vh;
  padding: 40px 24px;
  background-color: $bgColor;
  @include flex(column, center, center);
  &>*{
    margin-bottom: 10px;
  }
  h2 {
    @include text($primaryFontFamily, 26px, 400, 30px);
  }

  p {
    @include text($primaryFontFamily, 14px, 400, 16px);
    margin-bottom: 20px;
  }

  .buttons {
    @include flex(row, space-between, center);

    button {
      flex: 0 0 30%;
      margin-bottom: 10px;
    }
    .deleteBtn{
      flex: 0 0 65%;
    }
    .outBtn{
      @include text($primaryFontFamily, 16px, 500, 19px);
      border: 2px solid #000;
      background: 0 0;
      color: #000;
      &:hover{
        background-color: black;
        color: $bgColor;
        border: none;
      }
    }


  }

  .label {
    @include text($primaryFontFamily, 14px, 400, 16px);
    color: #565656;
    width: 240px;
    text-align: left;
    margin-left: 10px;
  }

}
