@import './src/assets/styles/mixins';

label {
  @include flex(row, center, center);
  flex-wrap: nowrap;
  .checkbox:checked + svg {
    path {
      stroke-dashoffset: 0;
    }
  }

  .checkbox {
    position: absolute;
    opacity: 0;
  }

  cursor: pointer;
  transition: all .2s ease;

  svg {
    pointer-events: none;
    width: 40px;
    border: 3px solid #000;
    flex: 0 0 40px;
    path {
      fill: none;
      stroke: #000;
      stroke-width: 3px;
      stroke-dasharray: 100;
      stroke-dashoffset: 101;
      transition: all 350ms cubic-bezier(1, 0, .37, .91);
    }
  }

}


.spanClassName {

}